.pannel{
    background-color: bisque;
    position : absolute;
    width : 10%;
    height: 100%;
    border-right: 12px solid gray;
    padding-left : 10px;
}
.pannier{
    position: absolute;
    padding-top: 50%;
}